azure.url=
azure.user=
azure.token=

azure.sync.enabled=true

# API location <azure.project.root/_apis/>
azure.project.root=

# Azure devops requires API version
# https://docs.microsoft.com/en-us/rest/api/azure/devops/?view=azure-devops-rest-7.1#api-and-tfs-version-mapping
# Go to your profile -> Help -> Info
# Older versions can use at newer platforms
azure.api.version=5.0
# GET points needs a special api version
azure.api.version.get.points=5.1-preview.2

# Project specific settings
azure.testplan.id=
azure.run.name=
